.App{
    background-image: url('https://screeching-field.surge.sh/images/plate-flight-sky-sunset_1500x801.jpeg');
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;background-repeat: no-repeat;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    color:#fff;
box-shadow:inset 0px 0px 0px 1000px rgba(0,0,0,0.4);
}
